/* TODO: Padding and info/icons on bottom, fix white space on bottom, work on spacing around lines, add less transparent when hover to submit, style input buttons */

/* Mobile Screens */
html {
    font-size: 18px;
}

h1 {
    font-size: 3rem;
}

p {
    font-size: 1.25rem;
}

body {
    width: 100%;
    height: auto;
    margin: 0;
    font-family: "Montserrat", serif;
    color: #F2F3F4;
    background-image: url(/assets/images/colorful-plant-background.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}
  
header {
    margin: 3em auto;
    text-align: center;
    max-width: 80%
}

.montserrat-fonts {
    font-family: "Montserrat", serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
}

form {
    width: 60vw;
    max-width: 500px;
    min-width: 300px;
    margin: 0 auto;
    border: 1px solid #F2F3F4;
    border-radius: 30px;
    padding: 2.5rem 2rem 2rem;
}

fieldset {
    border: none;
    padding: 1rem 0;
}

/* Input field styles */

#submit {
    background-color: transparent;
    border: 1px solid #F2F3F4;
    border-radius: 30px;
    color: #F2F3F4;
    font-family: "Montserrat", serif;
    padding: 0.8em;
    cursor: pointer;
    font-size: 16px;
}

/* Medium Screens */
@media (min-width: 768px) {
    html {
      font-size: 20px;
    }
}

  
/* Large Screens */
@media (min-width: 992px) {
    html {
        font-size: 22px;
    }
}
 
