/* TODO: Padding and info/icons on bottom, spacing around title/description, favicon in tab title, work on spacing around lines */

/* Mobile Screens */
html {
    font-size: 18px;
}

h1 {
    font-size: 3rem;
}

p {
    font-size: 1.25rem;
}

body {
    width: 100%;
    height: 100vh;
    margin: 0;
    font-family: "Montserrat", serif;
    color: #F2F3F4;
    background-image: url(/assets/images/colorful-plant-background.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
  }
  
  h1, p {
    margin: 1em auto;
    text-align: center;
  }

  .montserrat-fonts {
    font-family: "Montserrat", serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
  }

  form {
    width: 60vw;
    max-width: 500px;
    min-width: 300px;
    margin: 0 auto;
    border: 1px solid #F2F3F4;
    border-radius: 30px;
    padding: 2.5rem 2rem 2rem;
  }

  fieldset {
    border: none;
    padding: 1rem 0;
  }


  /* Medium Screens */
  @media (min-width: 768px) {
    html {
      font-size: 20px;
    }
  } 
  
  /* Large Screens */
  @media (min-width: 992px) {
    html {
        font-size: 22px;
    }
  }
 
